# Welcome to Introduction to Python!

The objective of the course is to introduce python to our lives and start to understand how to use it. 

We will start with an overview of the basics:

## Python Basics

**1.- Variables**

**2.- Operations**

**3.- Lists**

**4.- If-else statements**

**5.- For loops**

**6.- While loops**

**7.- Functions**

In [1]:
print('Hello World!')

Hello World!

In [2]:
print("LET'S GO!")

LET'S GO!

### 1.- Variables

To declare a variable you have to save it in the memory unit that we mentioned. To do that you have to asign a number or something to store to the variable. For instance, writing 20 alone will not trigger anything in the memory unit

In [3]:
20

20

Instead, you can assign variables a value like below and then this will be stored:

In [4]:
a = 20

In [5]:
b = 10

In [6]:
print(a, b)

20 10

There are different types of variables that can be used in python:

In [7]:
type(a)

int

In [8]:
type(b)

int

In [9]:
e = 'Hello'

In [10]:
type(e)

str

In [11]:
f = 1.0

In [12]:
type(f)

float

In [13]:
d

NameError: name 'd' is not defined

In [34]:
d = True

In [35]:
d

True

In [36]:
type(d)

bool

### 2.- Operations with variables

Python can be used as a simple calculator. It allows to perform any type of operations.

In [16]:
a * b

200

In [17]:
a + b

30

The result from operations can be saved as a new variable. Here is an example on how to do it and how to combine variables to get a new one as the result:

In [18]:
c = a + b 
print(c)

30

In [19]:
g = c * 10 * a

In [20]:
print(g)

6000

In [21]:
g / 10

600.0

In [22]:
g % 10

0

### 3.- Lists

Lists are the most common way to store multiple values in a variable

In [40]:
students = ['Margarita', 'Antonella', 'Tomas', 'Iñigo']
students

['Margarita', 'Antonella', 'Tomas', 'Iñigo']

One important thing in Python is indexing. It applies for everything: lists, dictionaries, dataframes, arrays...

By indexing we understand how to access the data in a list for instance. Out of the 4 items in the list students we can select only one of them by doing students[0]. That will give us the first student in the list.

In [41]:
students[0]

'Margarita'

In [43]:
students[1:]

['Antonella', 'Tomas', 'Iñigo']

In [48]:
students[1:3]

['Antonella', 'Tomas']

In [46]:
students[1::2]

['Antonella', 'Iñigo']

One of the things that one can do with lists is to perform operations on it. You can, for instance, add values to the list, delete values from it, or count items.

In [49]:
students.append('Stefani')

In [50]:
students

['Margarita', 'Antonella', 'Tomas', 'Iñigo', 'Stefani']

In [51]:
students.remove('Tomas')

In [52]:
students

['Margarita', 'Antonella', 'Iñigo', 'Stefani']

In [54]:
students.count('Antonella')

1

In [55]:
students.append('Antonella')

In [57]:
students

['Margarita', 'Antonella', 'Iñigo', 'Stefani', 'Antonella']

In [56]:
students.count('Antonella')

2

### 4.- If-Else statements

If-else statements are used to introduce a condition for a part of the code to run.

In [32]:
a

20

In [25]:
if a == 20: 
    print('The variable a is equal to 20')

The variable a is equal to 20

In [26]:
if a == 10:
    print('The variable a is equal to 10')
else: 
    print('The variable a is different than 10')

The variable a is different than 10

In [31]:
if a == 10:
    print('The variable a is equal to 10')
elif a == 30:
    print('The variable a is equal to 30')
else: 
    print(f'The variable a is different than 10 and 30. Its value is {a}')

The variable a is different than 10 and 30. Its value is 20

### 5.- For loops

For loops are used to iterate over sequences such as the lists that we have seen. Here below you can find a set of examples:

In [63]:
students = ['Margarita', 'Antonella', 'Tomas', 'Iñigo']
for el in students:
    print(el)

Margarita
Antonella
Tomas
Iñigo

In [61]:
for el in students: 
    if el == 'Iñigo':
        print('This student is Iñigo')
    else:
        print('This is other student')

This is other student
This is other student
This student is Iñigo
This is other student
This is other student

In [62]:
my_list = [0, 1, 2, 3, 4]
new_list = []

for el in my_list: 
    new_list.append(el + 2)
print(new_list)

[2, 3, 4, 5, 6]

### 6.- While loops

While loops allow you to execute a set of statements as long as a condition is true. They are not as used as for loops but are part of the primitive functions of python

In [70]:
aa = 5
while aa != 0: 
    print(aa)
    aa -= 1
print(f'The new value of aa is {aa} as it should be')

5
4
3
2
1
The new value of aa is 0 as it should be

### Introduction to functions

Imagine that you have several lists and you want to do the same operation of every list. The best way to automatize things is to build a function and run every item (in this case lists) on it.

In [71]:
def sum_two(my_list):
    new_list = []
    for el in my_list:
        new_list.append(el + 2)
    return new_list

In [73]:
list1 = [0, 1, 2, 3]
list2 = [0, -1, -2, -3]

In [76]:
sum_two(list1)

[2, 3, 4, 5]

In [77]:
sum_two(list2)

[2, 1, 0, -1]

In [78]:
def square_root(x):
    return x ** 0.5

In [79]:
square_root(36)

6.0

In [80]:
square_root(16)

4.0